#logo {
    position: absolute;
    top: 23px;
    left: 109px;
    bottom: 1072px;
    right: 1380px;
}

#bar {
    position: absolute;
    top: 25px;
    left: 33px;
    bottom: 1074px;
    right: 1555px;
}

#search {
    position: absolute;
    top: 15px;
    left: 504px;
    bottom: 1063px;
    right: 432px;

}

#검색 {
    position: absolute;
    width: 37px;
    height: 24px;
    top: 11px;
    bottom: 10px;
    left: 16px;
    right: 711px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #5E5E5E;

}

#검색창커서 {
    position: absolute;
    left: 671px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#돋보기 {
    position: absolute;
    top: 10px;
    left: 31px;
    right: 35.43px;
    bottom: 8.7px;

}

#mic {
    position: absolute;
    top: 22.83px;
    right: 313.08px;
    bottom: 1073.25px;
    left: 1291.08px;

}

#bell {
    position: absolute;
    top: 24px;
    right: 144.46px;
    bottom: 1073.63px;
    left: 1453.31px;

}

#profile_img {
    position: absolute;
    top: 14px;
    right: 39.41px;
    bottom: 1062.41px;
    left: 1538px;
    border-radius: 50%;

}

#전체 {
    position: absolute;
    top: 92px;
    right: 1470px;
    bottom: 986px;
    left: 80px;

}

#텍스트_전체 {
    /*크기*/
    width: 37px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 18px;
    bottom: 11px;
    left: 19px;
    /*디자인*/
    color: #EFEFEF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;

}

#음악 {
    position: absolute;
    top: 92px;
    right: 1372px;
    bottom: 986px;
    left: 178px;

}

#텍스트_음악 {
    /*크기*/
    width: 37px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 18px;
    bottom: 11px;
    left: 19px;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;

}

#믹스 {
    position: absolute;
    top: 92px;
    right: 1274px;
    bottom: 986px;
    left: 276px;
}

#텍스트_믹스 {
    /*크기*/
    width: 37px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 18px;
    bottom: 11px;
    left: 19px;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;
}

#게임 {
    position: absolute;
    top: 92px;
    right: 1176px;
    bottom: 986px;
    left: 374px;
}

#텍스트_게임 {
    /*크기*/
    width: 37px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 18px;
    bottom: 11px;
    left: 19px;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;
}

#실시간 {
    position: absolute;
    top: 92px;
    right: 1062px;
    bottom: 986px;
    left: 472px;

}

#텍스트_실시간 {
    /*크기*/
    width: 56px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 17px;
    bottom: 11px;
    left: 17px;
    text-align: center;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;
}

#동계스포츠 {
    position: absolute;
    top: 92px;
    right: 880px;
    bottom: 986px;
    left: 586px;
}

#텍스트_동계스포츠 {
    /*크기*/
    width: 108.27px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 24.73px;
    bottom: 11px;
    left: 25px;
    text-align: center;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;
}

#만화영화 {
    position: absolute;
    top: 92px;
    right: 736px;
    bottom: 986px;
    left: 768px;
}

#텍스트_만화영화 {
    /*크기*/
    width: 82.23px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 18.78px;
    bottom: 11px;
    left: 18.99px;
    text-align: center;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;

}

#최근에 {
    position: absolute;
    top: 92px;
    right: 434px;
    bottom: 986px;
    left: 912px;
}

#텍스트_최근에 {
    /*크기*/
    width: 190.49px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 43.45px;
    bottom: 11px;
    left: 44.06px;
    text-align: center;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;

}

#새로운 {
    position: absolute;
    top: 92px;
    right: 171px;
    bottom: 986px;
    left: 1214px;
}

#텍스트_새로운 {
    /*크기*/
    width: 163.77px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 10px;
    right: 37.35px;
    bottom: 11px;
    left: 37.88px;
    text-align: center;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 24px;
}

#channelgroup1 {
    width: 420px;
    height: 386px;
    position: absolute;
    top: 0px;
    left: 0px;

}

#channelgroup2 {
    width: 420px;
    height: 386px;
    position: absolute;
    top: 0px;
    left: 444px;

}

#channelgroup3 {
    width: 420px;
    height: 386px;
    position: absolute;
    top: 0px;
    right: 0px;

}

#channelgroup4 {
    width: 420px;
    height: 386px;
    position: absolute;
    bottom: 0px;
    left: 0px;


}

#channelgroup5 {
    width: 420px;
    height: 386px;
    position: absolute;
    bottom: 0px;
    left: 444px;
}

#channelgroup6 {
    width: 420px;
    height: 386px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}

.썸네일 {
    /*위치*/
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 111px;
    left: 0px;
}

.profile_img2 {
    /*위치*/
    position: absolute;
    top: 298px;
    right: 371.41px;
    bottom: 41.41px;
    left: 2px;
    border-radius: 50%;
}

.영상제목 {
    /*크기*/
    width: 166px;
    height: 24px;
    /*위치*/
    position: absolute;
    top: 303px;
    right: 191px;
    bottom: 59px;
    left: 63px;
    /*디자인*/
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.유저이름 {
    /*크기*/
    width: 84px;
    height: 22px;
    /*위치*/
    position: absolute;
    top: 339px;
    right: 273px;
    bottom: 59px;
    left: 63px;
    /*디자인*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #474747;
}

.영상정보 {
    position: absolute;
    top: 364px;
    right: 171px;
    bottom: 0px;
    left: 62px;
}

.container {
    width: 1308px;
    height: 837px;
    position: absolute;

    top: 194px;
    right: 149px;
    bottom: 88px;
    left: 167px;


}
